:root {
  --color-background: #001b48;
  --color-primary: #004581;
  --color-secondary: #018abd;
  --color-tertiary: #97cbdc;
  --color-text: #dde8f0;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 16px;
  color: var(--color-text);
  scroll-behavior: smooth;
  line-height: 1.5;
}

body {
  height: 80%;
  width: 100%;
  background: var(--color-background);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, auto);
  gap: 25px;
  padding: 24px;
  cursor: url("./icons-img/cursor.png"), auto;
  
}

/* Font Style */
.inter-bold {
  font-size: 18px;
  font-weight: 700;
}
.inter-bold-italic {
  font-size: 25px;
  font-style: italic;
  font-weight: 700;
}

/* Common Grid Style */
.section {
  padding: 32px;
  border-radius: 20px;
}

/* Line Style */
.border-light {
  height: 2px;
  background: var(--color-tertiary);
  margin: 18px 0;
}
.border-dark {
  height: 2px;
  background: var(--color-secondary);
  margin: 18px 0;
}

/* Icons Style */
.icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  width: 30px;
  aspect-ratio: 1/1;
}
.icon path{
  stroke: var(--color-text); 
}
.icon:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease-in-out;
}
.circle {
  width: 30px;
  aspect-ratio: 1/1;
}
.circle path{
  fill: var(--color-text);
}
.circle:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease-in-out;
}

/* Links Style */
a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
}
a:hover {
  cursor: url("./icons-img/linkcursor.png"), auto;
  transform: translateY(-2px);
  transition: transform 0.2s ease-in-out;
}
.dark-text:hover {
  color: var(--color-tertiary);
}
.light-text:hover {
  color: var(--color-primary);
}

/* Cursor */
.cursor-circle {
    width:40px;
    height:40px;
    border:3px solid white;
    border-radius:50%;
    position: absolute;
    box-shadow: 2px -3px 41px -1px rgba(250,250,250,0.64);
    transition: all .1s linear; 
    pointer-events: none;
}

.intro:hover,
.skills:hover,
.education:hover,
.design1:hover,
.design2:hover,
.experience:hover,
.projects:hover,
.certifications:hover,
.footer:hover {
  opacity: 1;
  -webkit-text-fill-color: var(--color-text);
  
    ~ .cursor-circle {
      transform: scale(1.4);
      mix-blend-mode: difference;
      background: white;
    }
}

/* Common List Style */
h2 {
  font-size: 30px;
  color: var(--color-text);
  font-weight: 700;
}
ul {
  list-style: none;
}

/* Header Grid */
.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  background: var(--color-primary);
  color: var(--color-text);
}

/* Intro Grid */
.intro {
  grid-column: 1 / 6;
  grid-row: 2 / 4;
  position: relative;
  background: var(--color-primary);
}
.intro:hover {
  box-shadow: 0 0 10px var(--color-tertiary);
  transition: box-shadow 0.1s ease-in-out;
}
.typed-text {
  font-size: 36px;
  font-weight: 800;
}
.corner-flower {
  position: absolute;
  width: 100px;
  aspect-ratio: 1/1;
  top: 0px;
  right: 0px;
  overflow: hidden;
}

/* Photo Grid */
.photo {
  grid-column: 6 / 9;
  grid-row: 2 / 6;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: url("./icons-img/ellenrosejames.jpg") center / cover
    no-repeat;
}
.photo:hover {
  box-shadow: 0 0 10px var(--color-tertiary);
  transition: box-shadow 0.1s ease-in-out;
}


/* Skills Grid */
.skills {
  background: var(--color-secondary);
  position: relative;
  grid-column: 9 / 13;
  grid-row: 2 / 7;
}

.skills:hover {
  box-shadow: 0 0 10px var(--color-tertiary);
  transition: box-shadow 0.1s ease-in-out;
}

/* Education Grid */
.education {
  background: var(--color-primary);
  position: relative;
  grid-column: 1 / 6;
  grid-row: 4 / 7;
}

.education:hover {
  box-shadow: 0 0 10px var(--color-tertiary);
  transition: box-shadow 0.1s ease-in-out;
}

.corner-circle {
  position: absolute;
  width: 65px;
  aspect-ratio: 1/1;
  top: 245px;
  left: 475px;
  overflow: hidden;
}
.school {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 10px;
  flex: 1;
}
.class10 {
  border-left: 2px solid var(--color-secondary);
  padding-left: 12px;
}

/* Buffer Design */
.design1 {
  background: #ccc;
  height: 100px;
  grid-column: 6 / 9;
  grid-row: 6 / 7;
  padding: 0px;
}
.design2 {
  background: #ccc;
  position: relative;
  height: 100px;
  grid-column: 9 / 13;
  grid-row: 7 / 8;
  padding: 0px;
}
.flower-design2 {
  position: absolute;
  right: 10px;
}
/* Experience Grid */
.experience {
  background: var(--color-primary);
  grid-column: 1 / 5;
  grid-row: 7 / 11;
}

.experience:hover {
  box-shadow: 0 0 10px var(--color-tertiary);
  transition: box-shadow 0.1s ease-in-out;
}

/* Projects Grid */
.projects {
  background: var(--color-secondary);
  grid-column: 5 / 9;
  grid-row: 7 / 10;
}

.projects:hover {
  box-shadow: 0 0 10px var(--color-tertiary);
  transition: box-shadow 0.1s ease-in-out;
}

/* Project Pop-up */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-box {
  position: relative;
  width: 90vw;
  height: 90vh;
  background: var(--color-secondary);
  border-radius: 20px;
  overflow: hidden;
}


.popup-box iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.close-btn {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 18px;
  right: 18px;
  font-size: 25px;
  cursor: pointer;
  color: var(--color-primary);
  background-color: var(--color-tertiary);
  border-radius: 6px;
  z-index: 30;
}

/* Certifications Grid */
.certifications {
  background: var(--color-primary);
  grid-column: 9 / 13;
  grid-row: 8 / 11;
}

.certifications:hover {
  box-shadow: 0 0 10px var(--color-tertiary);
  transition: box-shadow 0.1s ease-in-out;
}

/* Socials */
.footer {
  background: var(--color-primary);
  grid-column: 5 / 9;
  grid-row: 10 / 11;
  color: var(--color-text);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer:hover {
  box-shadow: 0 0 10px var(--color-tertiary);
  transition: box-shadow 0.1s ease-in-out;
}

.socials {
  display: flex;
  padding: 0 8px;
  gap: 16px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 12px;
    gap: 8px;
    overflow-x: hidden;
  }
  .section {
    width: 100%;
    margin-bottom: 20px;
  }
  .cursor-circle{
    display: none;
  }
  .photo {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .header,
  .intro,
  .education,
  .skills,
  .experience,
  .projects,
  .certifications,
  .design2,
  .flower-design2,
  .footer {
    grid-column: auto;
    grid-row: auto;
  }
  .header{
    justify-content: center;
    text-align: center;
  }
  .circle,
  .design1 {
    display: none;
  }
  .corner-flower {
    width: 80px;
  }
  .school {
    flex-direction: column;
    gap: 16px;
  }

  .class10,
  .clas12 {
    border-left: none;
    padding-left: 0;
    border-top: 3px solid var(--color-secondary);
    padding-top: 12px;
  }
}

@media (max-width: 480px) {
  .body {
    overflow-x: hidden;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }
  .socials {
    margin-top: 20px;
    align-items: center;
    gap: 40px;
  }
}


