:root {
  --color-background: #001b48;
  --color-primary: #004581;
  --color-secondary: #018abd;
  --color-tertiary: #97cbdc;
  --color-text: #dde8f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: var(--color-text);
  scroll-behavior: smooth;
  line-height: 1.5;
}

body {
  height: 80%;
  width: 100%;
  background: var(--color-background);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, auto);
  gap: 25px;
  padding: 24px;
}

/* Font Style */
.inter-bold {
  font-size: 18px;
  font-weight: 700;
}

.inter-heavy {
  font-size: 36px;
  font-weight: 800;
}

/* Common Grid Style */
.section {
  padding: 32px;
  border-radius: 20px;
}

/* Border Style */
.border-light {
  height: 2px;
  background: var(--color-tertiary);
  margin: 18px 0;
}
.border-dark {
  height: 2px;
  background: var(--color-secondary);
  margin: 18px 0;
}

/* Icons and Links Style */
.icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  width: 30px;
  aspect-ratio: 1/1;
}

a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
}

/* Common List Style */
h2 {
  font-size: 30px;
  color: var(--color-text);
  font-weight: 700;
}

ul {
  list-style: none;
}

/* Header Grid */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  background: var(--color-primary);
  color: var(--color-text);
}

.ellen-bold {
  font-size: 25px;
  font-style: italic;
}

.rose-light {
  font-size: 25px;
  font-style: italic;
}

/* Intro Grid */
.intro {
  grid-column: 1 / 6;
  grid-row: 2 / 4;
  position: relative;
  background: var(--color-primary);
}

.corner-flower {
  position: absolute;
  width: 100px;
  aspect-ratio: 1/1;
  top: 0px;
  right: 0px;
  overflow: hidden;
}

/* Photo Grid */
.photo {
  grid-column: 6 / 9;
  grid-row: 2 / 6;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: url("../icons-img/ellenrosejames.jpg") lightgray 50% / cover
    no-repeat;
}

/* Skills Grid */
.skills {
  background: var(--color-secondary);
  position: relative;
  grid-column: 9 / 13;
  grid-row: 2 / 7;
}

/* Education Grid */
.education {
  background: var(--color-primary);
  position: relative;
  grid-column: 1 / 6;
  grid-row: 4 / 7;
}
.corner-circle {
  position: absolute;
  width: 65px;
  aspect-ratio: 1/1;
  top: 245px;
  left: 475px;
  overflow: hidden;
}
.school {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 10px;
  flex: 1;
}
.class10 {
  border-left: 2px solid var(--color-secondary);
  padding-left: 12px;
}

/* Buffer Design */
.design1 {
  background: var(--color-tertiary);
  height: 100px;
  grid-column: 6 / 9;
  grid-row: 6 / 7;
  padding: 0px;
}
.design2 {
  background: var(--color-tertiary);
  position: relative;
  height: 100px;
  grid-column: 9 / 13;
  grid-row: 7 / 8;
  padding: 0px;
}
.flower-design2 {
  position: absolute;
  right: 10px;
}
/* Experience Grid */
.experience {
  background: var(--color-primary);
  grid-column: 1 / 5;
  grid-row: 7 / 11;
}

/* Projects Grid */
.projects {
  background: var(--color-secondary);
  grid-column: 5 / 9;
  grid-row: 7 / 10;
}

/* Certifications Grid */
.certifications {
  background: var(--color-primary);
  grid-column: 9 / 13;
  grid-row: 8 / 11;
}

/* Socials */
.footer {
  background: var(--color-primary);
  grid-column: 5 / 9;
  grid-row: 10 / 11;
  color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 12px;
    gap: 8px;
  }
  .section {
    width: 100%;
    margin-bottom: 20px;
  }
  .photo {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .header,
  .intro,
  .education,
  .skills,
  .experience,
  .projects,
  .certifications,
  .footer {
    grid-column: auto;
    grid-row: auto;
  }
  .design1,
  .design2,
  .flower-design2 {
    display: none;
  }
  .corner-flower {
    width: 80px;
  }
  .school {
    flex-direction: column;
    gap: 16px;
  }

  .class10,
  .clas12 {
    border-left: none;
    padding-left: 0;
    border-top: 3px solid var(--color-secondary);
    padding-top: 12px;
  }
}
